#accordion-h6 {
     color: #757575;
     font-family: 'Poppins';
     font-size: 17px;
     font-style: normal;
     font-weight: 900;
     line-height: normal;
     letter-spacing: 1.19px;
     text-transform: uppercase;
     margin-bottom: 15px;
}

#accordion-h2 {
     color: #1B1717;
     font-family: 'Poppins';
     font-size: 45px;
     font-style: normal;
     font-weight: 900;
     line-height: normal;
     letter-spacing: 3.15px;
     text-transform: uppercase;
     margin-bottom: 15px;
}

#accordion-text {
     color: #6E6E6E;
     font-family: 'Poppins';
     font-size: 17px;
     font-style: normal;
     font-weight: 400;
     line-height: normal;
     margin-bottom: 30px;
}

