.drag-and-drop {
     font-family: 'Poppins', Times, serif;
     display: flex;
     flex-direction: column;
     align-items: center;
}

.score {
     text-align: center;
     font-size: 1.5rem;
     margin: 1rem 0;
}

.droppable {
     width: 100px;
     height: 130px;
     border: 2px dashed #ccc;
     margin: 5px;
}



.draggable-items {
     display: flex;
     justify-content: center;
}

.quiz-container {
     margin: 20px;
}

.form-check {
     margin: 20px;
}